{% extends './layouts/layout.njk' %}

{% block pageTitle %}{{ serviceName }}{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">Defra Id Integration Test Rig</h1>
    <p class="govuk-body">This is a prototype of a service that will allow users to integrate their Defra Id with other services.</p>
    <p class="govuk-body">This prototype is for testing purposes only and is not a live service. It is intended as a guide only.</p>
    <ul class="govuk-list">
      <li>
        <a class="govuk-link" href="/signin">Sign in</a>
      </li>
    </ul>
{% endblock %}
