{% extends './layouts/layout.njk' %}

{% block pageTitle %}{{ serviceName }}{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">Name: {{token.firstName}} {{token.lastName}}</h1>
    <p class="govuk-body">Email: {{token.email}}</p>
    <p class="govuk-body">TokenExpiry: {{tokenExpiry}}</p>
    <p class="govuk-body">ServiceId: {{token.serviceId}}</p>
    <p class="govuk-body">correlationId: {{token.correlationId}}</p>
    <p class="govuk-body">currentRelationshipId: {{token.currentRelationshipId}}</p>
    <p class="govuk-body">sessionId: {{token.sessionId}}</p>
    <p class="govuk-body">contactId: {{token.contactId}}</p>
    <p class="govuk-body">
      Relationships:
      {% for data in token.relationships %}
        {{ data }}
      {% endfor %}
    </p>
    <p class="govuk-body">
      Relationships:
      {% for data in token.roles %}
        {{ data }}
      {% endfor %}
    </p>
    <p class="govuk-body">AccessToken: {{accessToken}}</p>
    <p class="govuk-body">IdToken: {{idToken}}</p>
  </div>
  <div class="govuk-grid-column-one-third">
    <h1 class="govuk-heading-l">Person Summary</h1>
    <p class="govuk-body">Id: {{personSummary.id}}</p>
    <p class="govuk-body">CRN: {{personSummary.customerReferenceNumber}}</p>
    <p class="govuk-body">Name: {{personSummary.firstName}} {{personSummary.lastName}}</p>
    <p class="govuk-body">Address: {{personSummary.address.city}}, {{personSummary.address.postalCode}}</p>
  </div>
</div>
{% endblock %}